<header>
    <div class="arriba">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="todo_menu">
        <div class="menu">
            <nav>
                <ul>
                    <li><a class="link-light text-decoration-none" href="/"></a></li>
                    <li><a class="link-light text-decoration-none" href="../PS">Productos y Servicios</a></li>
                    <li><a class="link-light text-decoration-none" href="#">Quienes somos</a>
                        <ul>
                            <li><a class="link-light text-decoration-none" href="../historia">Historia</a></li>
                            <li><a class="link-light text-decoration-none" href="../equipo">Equipo</a></li>
                        </ul>
                    </li>
                    <li><a class="link-light text-decoration-none" href="../contacto">Contacto</a></li>
                    <li><a class="link-light text-decoration-none" href="../login">Login</a>
                        <ul>
                            <li><a  href="../nologin">cerrar sesion </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>