<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

    <body class="bg-secondary">
        <%- include('partials/nav') %>
            <main id="mq">
                <article>
                    <h1>Equipo</h1>
                    <div>
                        <h3>Benjamin Isaac Carrasco Mendez</h3>
                        <br>
                        <p>Mis estudios son ingeniereia civil en informatica , tambien estudio ingeniereia civil
                            industrial.
                            soy de un pueblo llamado traiguen que queda a una hora imedia de temuco.
                            me considero una persona tranquila y optomista siempre en busca de nuevos retos
                            asi que si quieres alguien con quien trabajar soy alguien a considerar.
                        </p>
                    </div>
                    <div>
                        <h3>Juan Claudio Cárdenas Uribe</h3>
                        <br>
                        <p>Solo estudio ingeniería civil en informática, soy de un pueblo llamado de Puerto Aysén, de la
                            XI
                            región, ahora
                            mismo estoy viviendo el Lautaro que está a media hora de la Universidad Católica de Temuco.
                            Me considero alguien normal, quien le gusta más la tranquilidad que otra cosa, a pesar de
                            que me
                            gusta mi zona de confort a veces me gusta salir e intentar cosas más difíciles.
                        </p>
                    </div>
                </article>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>