<!DOCTYPE h./index.htmltml>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <%- include('partials/head') %>
        <script src="../java/cerrar.js"></script>
</head>

<body class="bg-secondary">
    <%- include('partials/nav') %>
        <main>
            <section id="inicio-a">
                <h2>Prefierenos a nosotros<br>Ahora ya!</h2>
                <button><a href="./contacto.html" target="_blank">Contactanos</a></button>
            </section>
            <section id="inicio-b">
                <div id="box">
                    <h2>Un poco de nosotros</h2>
                    <p>La empresa se empieza a desarrollar en la época de la universidad, comenzó como un proyecto, pero
                        termino
                        siendo LOGO la mejor empresa para los servicio de creación de páginas web. En enero de 2004 se
                        lanzó
                        oficialmente y tan solo 3 años después ya estaba generando ingresos anuales de miles millones de
                        dólares.
                    </p>
                    <button><a href=".//hitorial.html" target="_blank">Más información aquí</a></button>
                </div>
            </section>
            <section id="inicio-c">
                <h2>Proyectos</h2>
                <p>Aquí van los "proyectos"</p>
                <button><a href="./PS.php" target="_blank">Más información aquí</a></button>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>