<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <%- include('partials/head') %>
</head>

<body class="bg-secondary">
    <%- include('partials/nav') %>
        <main>
            <div class="logi">
                <h2>Inicio De Sesion</h2>
                <form action="" id="inicio_sesion" method="post">
                    <input type="text" placeholder="usuario" id="usuario" name="usuario" required>
                    <input type="password" placeholder="contraseña" id="contra" name="contra" required>
                    <% if (error){ %>
                        <p>Contraseña o Usuario equivocado</p>
                        <%} %>
                            <button type="submit">iniciar sesion</button>
                            <br>
                            <a href="/regis">Registrarse</a>
                </form>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>